$blue: #1877f2;
$green: #42b72a;
$border-radius: 0;

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  background-color: #d3d0d0;
  opacity: 1;
  background-image: radial-gradient(
    #000000 1.6500000000000001px,
    #d3d0d0 1.6500000000000001px
  );
  background-size: 33px 33px;
}
